@import "../utilities/variables.css";

.navbar {
  align-items: center;
  background-color: var(--elements);
  box-shadow: -1px 8px 8px -8px rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  padding: 0 50px;
  .title {
    font-family: "app-font-800";
    font-size: 1.5rem;
  }
  .theme-toggle,
  .theme-button {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 5px;
    .icon {
      width: 24px;
      height: 24px;
    }
    .theme-text {
      font-family: "app-font-600";
    }
  }
  @media (max-width: 768px) {
    padding: 0 20px;
    .title {
      font-size: 1.2rem;
    }
  }
}
