@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: hsl(0, 0%, 98%);
  --text: hsl(200, 15%, 8%);
  --elements: hsl(0, 0%, 100%);
  --input: hsl(0, 0%, 52%);
}

.dark {
  --background: hsl(207, 26%, 17%);
  --text: hsl(0, 0%, 100%);
  --elements: hsl(209, 23%, 22%);
  --input: hsl(0, 0%, 100%);
}
