.input-container {
  display: flex;
  align-items: center;
  background-color: var(--elements);
  border: none;
  border-radius: 6px;
  padding: 0.5rem;
  width: 100%;
  max-width: 480px;
  box-shadow: -1px 1px 13px 3px rgba(0, 0, 0, 0.06);
  min-height: 55px;
  .icon {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    color: var(--input);
  }
  input {
    width: 100%;
    border: none;
    outline: none;
  }
  @media (max-width: 780px) {
    max-width: 100%;
  }
}
